---
---
@import "pageBlocks";
@import "navBar";
@import "buttons";
@import "blockQuotes";
@import "panels";

/*
    custom styles
                    */

div {
  box-sizing: border-box;
}

.big-icon {
  font-size: 7em;
  opacity: .7;
  margin-bottom: 15px;
}

center.flex-row .columns {
  display: inline-block;
  height: auto;
  float: none !important;
}
