<header class="site-header">

  <div class="nav">
    <a href="{{ site.baseurl | prepend: site.url }}">
      <img src="http://placecreature.com/puppy/400/200" class="header-img">
      <!-- <img src="{{ "/img/logo.png" | prepend: site.baseurl }}" class="header-img"> -->
    </a>
    <div class="right social-links">
      <a class="github" href="{{ site.github_url }}" target="_blank"></a>
      <a class="linkedin" href="{{ site.linkedin_url }}" target="_blank"></a>
    </div>
    <dl class="sub-nav right">
      {% for section in site.sections %}
        <dd name="{{ section.slug }}"><a href="#{{ section.slug }}">{{ section.title }}</a></dd>
      {% endfor %}
    </dl>
    <div class="top-nav">
      <center>
        {% for section in site.sections %}
          <span><a href="#{{ section.slug }}">{{ section.title }}</a></span>
        {% endfor %}
      </center>
    </div>
  </div>

</header>
