<header class="site-header">

  <div class="nav">
    <img src="{{ "/img/justin.png" | prepend: site.baseurl }}" class="header-img">
    <div class="right login-button">
      <a class="tiny round transparent button">Sign In</a>
    </div>
    <dl class="sub-nav">
      {% for section in site.sections %}
        <dd name="{{ section.slug }}"><a href="#{{ section.slug }}">{{ section.title }}</a></dd>
      {% endfor %}
    </dl>
    <div class="top-nav">
      <center>
        {% for section in site.sections %}
          <span><a href="#{{ section.slug }}">{{ section.title }}</a></span>
        {% endfor %}
      </center>
    </div>
  </div>

</header>
