/* blockquotes */
blockquote.header-quote {
  border-width: 0;
  position: relative;
  margin-bottom: 60px;
}

blockquote.header-quote h3 {
  text-align: center;
  position: relative;
  padding: 0 10%;
  z-index: 1;
}

blockquote.header-quote h3::before {
  content: open-quote;
  font-size: 600%;
  position: absolute;
  left: 0;
  top: -30%;
  z-index: 0;
  opacity: .2;
}


blockquote.header-quote h3::after {
  content: close-quote;
  font-size: 600%;
  position: absolute;
  right: 0;
  top: -30%;
  z-index: 0;
  opacity: .2;
}
