@import "variables";

$nav-vert-padding: 10px;
$sub-nav-height: $nav-height - 2 * $nav-vert-padding;

.nav {
  background-color: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $nav-height;
  padding: 10px 30px;
  z-index: 50;
}

.header-img {
  margin-left: 5%;
  height: 80px;
  max-width: 90%;
  transition: .4s ease all;
}

.sub-nav {
  height: 0;
  margin: 0 15px;
  padding: 0;
  line-height: $sub-nav-height;
  vertical-align: middle;
  transition: .4s ease all;

  dd {
    a {
      border-radius: 3px;
      font-weight: normal;
      color: #fff;
      &:hover {
        color: #2ba6cb;
      }
    }
  }
}

.top-nav {
  display: block;
  margin: 0 auto;
  opacity: 1;
  height: auto;
  transition: .4s ease all;
  transition-delay: .2s;
  font-size: 1.5em;

  span {
    margin: 0 1em;
    border-radius: 3px;
    font-weight: normal;
    padding: 0.1875rem 1rem;

    &:hover {
      background: rgba(255,255,255,.7);
    }
  }
}

.nav.shrink, .no-js .nav {
  background-color: rgba(0,0,0,0.5);

  .header-img {
    margin-left: 0%;
    height: $sub-nav-height;
    transition: .4s ease all;
  }

  .sub-nav {
    height: $sub-nav-height;
    opacity: 1;
    transition: .2s ease all;
    transition-delay: .2s;
  }

  .top-nav {
    opacity: 0;
    height: 0;
    transition: .2s ease all;
  }
}
