/*panels*/
.panel.pill {
  border-radius: 50px;
}

.pill-description {
  padding: 0 15px;
  margin-bottom: 50px;
  margin-top: -10px;
}

.panel.feature {
  background-color: #a0d3e8;
}

.panel.feature a {
  color: white;
}
